@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));
/* Hide scrollbars on elements with this class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.floating {
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
}
.arrow {
  position: absolute;
  /* background: #222; */
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
